albumentations==1.4.3
beautifulsoup4==4.14.3
cupy==12.3.0
dominate==2.9.1
einops==0.8.2
imgaug==0.4.0
lmdb==1.5.1
loguru==0.7.3
loralib==0.1.2
matplotlib==3.7.5
mc==0.0
numpy==1.24.4
omegaconf==2.3.0
opencv_python==4.13.0.92
packaging==26.0
Pillow==12.2.0
PyQt5==5.15.11
PyQt5_sip==12.13.0
pyqtgraph==0.13.3
PyWavelets==1.4.1
PyYAML==6.0.1
PyYAML==6.0.3
Requests==2.33.1
scipy==1.17.1
skimage==0.0
tb_nightly==2.14.0a20230808
tensorboard==2.13.0
timm==1.0.26
torch==2.2.0+cu118
torchvision==0.17.0+cu118
tqdm==4.67.1
transformers==4.37.2
visdom==0.2.4
wandb==0.25.1
xformers==0.0.35
